.oradores{
    position: relative;
    float: left;
    
    margin-left: 1em;
    
    margin-top: .2em;

    }




.oradoruno{

    
    margin-top: .5em;

        img{
            border-radius: 50%;
            width: 3em;
            position: relative;
            float: left;
            display: inline-block;
        }
        
        p1{
            font-size: .5em;
            font-weight: bold;
            
        }

        p2{
            font-size: .5em;
            

        }
        p3{
            font-style: italic;
            font-size: .5em;
        }
    .red{
        width:1em;
    }    
}

.oradordos{
    
    margin-top: 1.5em;

        img{
            border-radius: 50%;
            width: 3em;
            position: relative;
            float: left;
            display: inline-block;
        }
        
        p1{
            font-size: .5em;
            font-weight: bold;
            
        }

        p2{
            font-size: .5em;
            

        }
        p3{
            font-style: italic;
            font-size: .5em;
        }
        .red{
            width:1em;
        }    
    }

  
.oradortres{
    
    margin-top: 1.5em;

        img{
            border-radius: 50%;
            width: 3em;
            position: relative;
            float: left;
            display: inline-block;
        }    

        
        p1{
            font-size: .5em;
            font-weight: bold;
            
        }

        p2{
            font-size: .5em;
            

        }
        p3{
            font-style: italic;
            font-size: .5em;
        }
        .red{
            width:1em;
        }    
  
    }

    

    
